@page "/logout"

@using Client.Singletons
@using Common.DataStructures.Http.Requests

@inject NavigationManager NavigationManager
@inject HttpUtility HttpUtility
@inject HttpClient Http

<h3>Logout</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await HttpUtility.Logout(Http);
        NavigationManager.NavigateTo("/login");
    }
}